.Lab {
  text-align: center;
  font-size: 4rem;
  font-weight: bolder;
  color: rgb(196, 158, 53);
}
._h1Lab3 {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  color: rgb(137, 250, 25);
  margin: auto;
  width: 50%;
  border: 3px solid #73ad21;
  padding: 10px;
}
._divLab3 {
  text-align: center;
  font-size: 5rem;
  font-weight: bolder;
  color: green;
  margin: auto;
  width: 50%;
  border: 3px solid #73ad21;
  padding: 10px;
}

._buttonLab3 {
  background-color: #6b37e6;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  display: inline;
}
